.quizContainer {
  padding: 2rem;
  border: 2px;
  border-color: var(--ifm-color-primary);
  border-style: solid;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.answerContainer {
  display: grid;
  gap: 0.5rem;
}

@media only screen and (min-width: 768px) {
  .answerContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.answerButton {
  border-radius: 0.5rem;
  padding: 0.75rem;
  border: none;
  cursor: pointer;
}
